@import "../../styles/mixins";
@import "../../styles/variables";

.searchContainer {
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 10px 45px 10px 16px;
  box-sizing: border-box;
  background-color: $gray;
  border: none;
  border-bottom: 1px solid $lightGray;
  @include font(normal, 500, 18px, 136%);

  &:hover {
    border: none;
    border-bottom: 1px solid #8B8D92;
  }

  &:focus {
    outline: 0;
    border: none;
    border-bottom: 1px solid #8B8D92;
  }
}


.searchButton {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}