@import "../../styles/mixins";
@import "../../styles/variables";

.searchContainer {
  position: relative;
  max-width: 402px;

  .searchInput {
    width: 100%;
    padding: 12px 30px 12px 12px;
    background-color: $gray;
    border: none;
    border-bottom: 1px solid $lightGray;
    @include font(normal, 500, 18px, 136%);

    &:hover {
      border: none;
      border-bottom: 1px solid #8B8D92;
    }

    &:focus {
      outline: 0;
      border: none;
      border-bottom: 1px solid #8B8D92;
    }
  }
}


.searchButton {
  position: absolute;
  top: 0;
  right: -35px;
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}