@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraLight.ttf') format('ttf'),
    url('Manrope-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-SemiBold.ttf') format('ttf'),
    url('Manrope-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.ttf') format('ttf'),
    url('Manrope-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.ttf') format('ttf'),
    url('Manrope-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.ttf') format('ttf'),
    url('Manrope-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraBold.ttf') format('ttf'),
    url('Manrope-ExtraBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Light.ttf') format('ttf'),
    url('Manrope-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
