@import "../../styles/mixins";
@import "../../styles/variables";

.mobileMenu {
  height: 100%;
  position: absolute;
  top: 131px;
  left: 0;
  display: flex;
  padding: 10px 22px;
  flex-direction: column;
  max-width: 600px;
  width: calc(100% - 44px)
}

.mobileMenu__controls {
  width: 100%;
  border-bottom: 1px solid $border;
}

.mobileMenu__btns {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  button {
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(normal, 500, 18px, 136%);
    padding: 12px 0;

    p {
      margin: 0;
    }
  }

  .menu {
    background-color: $yellow;
    border: 1px solid transparent;
  }

  .profileBtn {
    background: #FFFFFF;
    border: 1px solid #D1D1D3;
  }

  .ordersBtn {
    background: #FFFFFF;
    border: 1px solid #D1D1D3;
  }
}

.mobileMenu__changeCity {
  margin-bottom: 20px;
}

.mobileMenu__content {
  border-bottom: 1px solid $border;

  .mobileMenu__category {
    list-style-type: none;
    padding: 14px 0 14px 3px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;

    a {
      text-decoration: none;
      @include font(normal, 500, 16px, 150%);
      color: $lowerHeaderTextColor;

      &:hover {
        color: $darkGray;
      }
    }
  }
}

.mobileMenu__info {
  .mobileMenu__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px 0 14px 3px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $upperHeaderTextColor;
        @include font(normal, 500, 15px, 145%);
        transition: $globalTrans;

        &:hover {
          color: $darkGray;
        }
      }
    }
  }
}

//
@media screen and (min-width: 600px) {
  .mobileMenu {
    display: none;
  }
}