@import "../../styles/mixins";
@import "../../styles/variables";

.modal_header {
  @include font(normal, 600, 34px, 130%);
  text-align: center;
  margin: 0 0 24px 0;
}

.modal__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  label {
    @include font(normal, 500, 16px, 150%);
    color: $darkGray;
    margin-bottom: 8px;
  }

  &_role {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.modal_forget__password {
  margin-bottom: 24px;
  @include font(normal, 500, 15px, 145%);
  color: $upperHeaderTextColor;
  border: none;
  background-color: transparent;
}

.modal__controls {
  display: flex;
  flex-direction: column;

  &_primary {
    @include button($yellow, transparent);
    margin-bottom: 12px;
  }

  &_secondary {
    @include button(#FFF,  $lightGray);
    width: 100%;
  }
}
