@mixin flex($fd, $ai, $jc) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@mixin font($fs, $fw, $fsz, $lh) {
  font-family: 'Manrope', sans-serif;
  font-style: $fs;
  font-weight: $fw;
  font-size: $fsz;
  line-height: $lh;
}

@mixin button($color, $border) {
  cursor: pointer;
  background: $color;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $border;
}
