$yellow: #FCEC41;
$gray: #F6F6F6;
$darkGray: #2F323A;
$lightGray: #D1D1D3;
$textPrimary: #171B24;
$border: #E8E9EA;

$globalTrans: all 0.2s ease-in-out;
//upperHeader
$upperHeaderTextColor: #5D6066;
$upperHeaderBgColor: #F6F6F6;

//middleHeader
$middleHeaderTextColor: #454950;

//lowerHeader
$lowerHeaderTextColor: #454950;

//width vars
$desktop: 1024px;
$tablet: 768px;
$mobile: 360px;
