@import "../../../styles/mixins";
@import "../../../styles/variables";

.upperHeaderWrapper {
  display: flex;
  background-color: $upperHeaderBgColor;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8vw;
}



.upperHeader__brands {
  display: flex;
  gap: 24px;
  margin: 0;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
      color: $upperHeaderTextColor;
      @include font(normal, 500, 15px, 145%);
      transition: $globalTrans;

      &:hover {
        color: $darkGray;
      }
    }
  }
}

//

@media screen and (max-width: $tablet) {
  .brands, .docs {
    display: none;
  }

  .upperHeaderWrapper {
    padding: 10px 2vw;
  }
}

@media screen and (max-width: 600px) {
  .upperHeaderWrapper {
    display: none;
  }

}